@font-face {
  font-family: 'helvetica-neue-bold';
  src: url('~assets/fonts/Helvetica-Neue-Condensed-Bold_22501.woff') format('woff');
}

@font-face {
  font-family: 'roslindale-light';
  src: url('~assets/fonts/RoslindaleDisplayCondensed-Light.woff') format('woff');
}

@font-face {
  font-family: 'helvetica-bold';
  src: url('~assets/fonts/Helvetica-Bold.woff') format('woff');
}

@font-face {
  font-family: 'helvetica';
  src: url('~assets/fonts/Helvetica.woff') format('woff');
}