$bodyBackground: #F2F2F2;
$colorWhite: #FFFF;
$colorBeige: #FDEADD;
$colorGreen: #E0F4EB;
$colorPurple: #E8D7EE;
$colorSubTitle: #3B2321;
$textColor: #3B2321;
$mainTypo: helvetica, sans-serif;
$mainTypoBold: helvetica-bold, sans-serif;
$mainTypoNeueBold: helvetica-neue-bold, sans-serif;
$secondTypo: roslindale-light, sans-serif;