$bodyBackground: #F2F2F2;
$colorWhite: #FFFF;
$colorBeige: #FDEADD;
$colorHoverBeige: #EDCDB8;
$colorGreen: #E0F4EB;
$colorHoverGreen: #AED7C5;
$colorPurple: #E8D7EE;
$colorHoverPurple: #DDC5E7;
$colorSubTitle: #3B2321;
$textColor: #3B2321;
$mainTypo: helvetica, sans-serif;
$mainTypoBold: helvetica-bold, sans-serif;
$mainTypoNeueBold: helvetica-neue-bold, sans-serif;
$secondTypo: roslindale-light, sans-serif;