@import '_variables.scss';
@import '_font.scss';
@import '_mixins.scss';
@import '_class.scss';
@import '_keyframes.scss';

html {
  font-size: 100%;
  background-color: #FDEADB;
}
body {
  background-color: #fff;
  margin: 0;
  padding: 0;
  position: relative;
  z-index: 2;
  overflow-x: hidden;
  
  @media (min-width: 920px) {
    padding-bottom: 100vh;
  }
}

/**
* GLOBAL
*/
h1 {
  @include isH1();
}

h2 {
  @include isH2();
}

h3 {
  @include isH3();
}

h4 {
  @include isH4();
}